@import './variable.less';

.btn {
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: ce;
    justify-content: center;
    background-color: inherit;
    border: none;
    font-size: @text-sm;
}