@layer utilities {

    :root {
        --bg-primary: '#FFFFFF';
        --bg-secondary: '#F6F6F6';
        --bg-tertiary: '#EEEEEE';
    
        --bg-blue: '#276EF1';
        --bg-red: '#E11900';
        --bg-yellow: '#FFC043';
        --bg-green: '#048848';
    
        --text-primary: '#000000';
        --text-secondary: '#545454';
        --text-tertiary: '#6B6B6B';
    
        --text-blue: '#276EF1';
        --text-red: '#E11900';
        --text-yellow: '#996F00';
        --text-green: '#048848';
    
        --bg-disabled: '#F6F6F6';
    
        --text-disabled: '#AFAFAF';
    
        
    }
    
    .dark {
        --bg-primary: '#141414';
        --bg-secondary: '#1F1F1F';
        --bg-tertiary: '#333333';
    
        --text-primary: '#FFFFFF';
        --text-secondary: '#CBCBCB';
        --text-tertiary: '#AFAFAF';
    
        --bg-blue: '#276EF1';
        --bg-red: '#AB1300';
        --bg-yellow: '#BC8B2C';
        --bg-green: '#03703C';
    
        --text-blue: '#5B91F5';
        --text-red: '#E85C4A';
        --text-yellow: '#FFCF70';
        --text-green: '#06C167';
    
        --bg-disabled: '#1F1F1F';
    
        --text-disabled: '#545454';
    }
    
    
    .bg-primary {
        background-color: var(--bg-primary);
    }
    
    .bg-secondary {
        background-color: var(--bg-secondary);
    }
    
    .bg-tertiary {
        background-color: var(--bg-tertiary);
    }
    
    .bg-blue {
        background-color: var(--bg-blue);
    }
    
    .bg-red {
        background-color: var(--bg-red);
    }
    
    .bg-yellow {
        background-color: var(--bg-yellow);
    }
    
    .bg-green {
        background-color: var(--bg-green);
    }
    
    .bg-disabled {
        background-color: var(--bg-disabled);
    }
    
    .text-primary {
        color: var(--text-primary);
    }
    
    .text-secondary {
        color: var(--text-secondary);
    }
    
    .text-tertiary {
        color: var(--text-tertiary);
    }
    
    .text-blue {
        color: var(--text-blue);
    }
    
    .text-red {
        color: var(--text-red);
    }
    
    .text-yellow {
        color: var(--text-yellow);
    }
    
    .text-green {
        color: var(--text-green);
    }
    
    .text-disabled {
        color: var(--text-disabled);
    }

}

