@import './variable.less';

:root {

    --bg-primary: #FFFFFF;
    --bg-secondary: #F6F6F6;
    --bg-tertiary: #EEEEEE;

    --text-primary: #000000;
    --text-secondary: #545454;
    --text-tertiary: #6B6B6B;

    --bg-red: #E11900;
    --bg-green: #048848;
    --bg-blue: #276EF1;
    --bg-yellow: #FFC043;

    --text-red: #E11900;
    --text-green: #048848;
    --text-blue: #276EF1;
    --text-yellow: #996F00;

    --bg-disabled: #F6F6F6;

    --text-disabled: #AFAFAF;

    --border-gray: #333333;
}

.dark {
    --bg-primary: #141414;
    --bg-secondary: #1F1F1F;
    --bg-tertiary: #333333;

    --text-primary: #FFFFFF;
    --text-secondary: #CBCBCB;
    --text-tertiary: #AFAFAF;

    --bg-red: #AB1300;
    --bg-green: #03703C;
    --bg-blue: #276EF1;
    --bg-yellow: #BC8B2C;

    --text-red: #E85C4A;
    --text-green: #06C167;
    --text-blue: #5B91F5;
    --text-yellow: #FFCF70;

    --bg-disabled: #1F1F1F;
    --text-disabled: #545454;
    --border-gray: #E2E2E2;
}

