
@layer components { 

    .field {
        @apply mb-3;
    }

    .field-row {
        display: flex;
        align-items: center;

        label {
            flex: 1;
            @apply mr-2;
        }

        .value {
            flex: 0 0 auto;
        }

        @apply mb-3;
    }
}