@import './variable.less';

p-table {
  
    border: none !important;

    th {
        background-color: var(--bg-primary) !important;
        border-bottom: 1px solid var(--border-gray) !important;
        color: var(--text-secondary) !important;
        font-size: @text-sm;
        font-weight: 600;
        padding: 5px !important;
    }

    td {
        background-color: var(--bg-primary) !important;
        color: var(--text-primary) !important;
        border-bottom: 1px solid var(--border-gray) !important;
        font-size: @text-sm;
        padding: 5px !important;
    }

    tr {
        background-color: var(--bg-primary) !important;
        cursor: pointer;
       
        &:hover {
            background-color: var(--bg-secondary) !important;
        }
    }
}





// p-dropdown {

//     .p-dropdown {
//         @apply text-primary !outline-none border-[1px] text-sm px-3 h-11 w-full rounded placeholder:text-tertiary;
//     }

//     .p-dropdown-items-wrapper {
//         @apply  !bg-primary text-primary border-[1px];
//     }

//     .p-dropdown-item {
//         @apply  !bg-primary text-primary;
//     }

//     .p-dropdown-item {
//         @apply hover:!bg-secondary;
//     }

//     .p-focus {
//         @apply  !shadow-none;
//     }

//     .p-dropdown:not(.p-disabled) {}


// }

// .p-button:focus {
//     box-shadow: none !important;
// }

.p-custom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: @text-lg;
    color: var(--text-primary);

    .text-header {
        font-weight: 600;
    }

    .btn-close {
        font-size: @text-lg;
        color: var(--text-tertiary);
    }
}

.p-dialog-header {
    display: none !important;
}

.p-dialog-content {
    padding: 10px !important;
}

.p-dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: auto !important;
}