/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './color.less';
@import './fieldset.less';
@import './button.less';
@import './primeng.less';
@import './froala.less';



html,
body {

    @apply antialiased bg-secondary !text-primary overflow-hidden h-screen relative;
}

input,
textarea {
    @apply bg-light-100 text-primary dark:bg-dark-100 outline-none border-light-30 dark:border-dark-30 border-[1px] text-sm px-3 h-9 w-full rounded hover:border-yellow-light hover:dark:border-yellow-dark placeholder:text-tertiary;
}

textarea {
    @apply p-2;
}

label {
    @apply text-secondary text-xs w-full block mb-1;
}

legend {
    @apply text-lg text-primary font-bold;
}


.flex-auto {
    flex: 0 0 auto;
}

.flex-fill {
    flex: 1;
}



.required {
    &:after {
        content: ' *';
        @apply text-red;
    }


}

.text-hover {
    &:hover {
        @apply text-yellow;
    }
}

.ng-invalid .ng-dirty {
    @apply  !border-red-light dark:!border-red-dark;
}

.nav-bar {
    @apply flex flex-row justify-between items-center h-10 w-full mb-2;
}

.flex-fill {
    flex: 1;
}

.flex-auto {
    flex: 0 0 auto;
}



* {
    font-family: 'Open Sans', sans-serif;
}



