.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.h-screen {
    height: 100vh;
}

.w-screen {
    width: 100vw;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-fill {
    flex: 1;
}

.flex-auto {
    flex: 0 0 auto;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.bg-primary {
    background-color: var(--bg-primary) !important;
}

.bg-secondary {
    background-color: var(--bg-secondary) !important;
}

.bg-tertiary {
    background-color: var(--bg-tertiary) !important;
}

.bg-blue {
    background-color: var(--bg-blue) !important;
}

.bg-red {
    background-color: var(--bg-red) !important;
}

.bg-yellow {
    background-color: var(--bg-yellow) !important;
}

.bg-green {
    background-color: var(--bg-green) !important;
}

.bg-inherit {
    background-color: inherit !important;
}

.bg-disabled {
    background-color: var(--bg-disabled) !important;
}

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.text-tertiary {
    color: var(--text-tertiary);
}

.text-blue {
    color: var(--text-blue);
}

.text-red {
    color: var(--text-red);
}

.text-yellow {
    color: var(--text-yellow);
}

.text-green {
    color: var(--text-green);
}

.text-disabled {
    color: var(--text-disabled);
}

.text-branding {
    color: var(--text-yellow);
    text-transform: uppercase;
    font-size: @text-xl;
    font-weight: bold;
}

.border-default {
    border: 1px solid var(--border-gray);
}

.p-0 {
    padding: 0px !important;
}

.m-0 {
    margin: 0px !important;
}

.text-xs {
    font-size: @text-xs;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

